# openssl.cnf.ca
# Via sslca.py

HOME                    = .
RANDFILE                = $ENV::HOME/.rnd

[ root_ca_distinguished_name ]
commonName              = Micah Reuben Ledbetter (CA)
countryName             = US
#stateOrProvinceName     = 
#localityName            = 
organizationName        = Micah Reuben Ledbetter
emailAddress            = micah@micahrl.com

[ ca ]
#default_ca      = CA_default
#
#[ CA_default ]
dir             = .
#certs           = $dir/certs
new_certs_dir   = $dir/newcerts
crl_dir         = $dir/crl
database        = $dir/index.txt

certificate     = $dir/ca.crt.pem
serial          = $dir/serial.txt
crl             = $dir/ca.crl.pem
private_key     = $dir/private/ca.key.pem
RANDFILE        = $dir/private/.rand
x509_extensions = usr_cert
copy_extensions	= copy
unique_subject  = no
name_opt        = ca_default
cert_opt        = ca_default
default_crl_days= 30
default_days    = 365
default_md      = sha1
preserve        = no
policy          = policy_ca

[ policy_ca ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits            = 4096
default_keyfile         = ./private/ca.key.pem
default_md              = sha1
prompt                  = no
distinguished_name      = root_ca_distinguished_name
x509_extensions         = v3_ca
string_mask             = nombstr
req_extensions          = v3_req

[ usr_cert ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always

[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always
basicConstraints        = CA:true

