## openssl.cnf for clients. 
## ALL YOU NEED TO CHANGE ARE THESE LINES:
## Lines for subjectAltName
## Lines for commonName
## You must add a commonName even if you're using subjectAltName entries. 
## The commonName must be a subjectAltName or some things will shit the bed

HOME                    = .
RANDFILE                = $ENV::HOME/.rnd

[ req ]
default_bits            = 4096
default_md              = sha1
prompt                  = no
string_mask             = nombstr

distinguished_name      = req_distinguished_name

x509_extensions         = v3_req
req_extensions          = v3_req

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = .
localityName = .
organizationName = .
commonName = 
emailAddress = micah@micahrl.com

[ v3_req ]
nsCertType = server
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names


[ alt_names ]
DNS.1 = host1.example.tld
DNS.2 = *.example.tld
email.1 = user@example.tld
IP.1 = 10.0.0.1
